<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffbot">

    <!-- Include the main robot description -->
    <xacro:include filename="$(find diffbot_description)/urdf/diffbot.urdf.xacro" />

    <!-- Include Gazebo-specific configurations -->
    <xacro:include filename="$(find diffbot_description)/urdf/diffbot_gazebo.xacro" />

</robot>